{% extends 'base.html.twig' %}

{% block title %}Page introuvable - La Boutique Française{% endblock %}

{% block content %}
    <div class="block-small">
       
        <h2>Page introuvable</h2>
        <p>
            Désolé la page recherchée n'existe pas. Vous pouvez retourner à l'accueil en cliquant sur le bouton ci-dessous 
            <br>
            <br>
            <a href="{{ path('home') }}" class="btn btn-info"> Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}
